body{
    background-image: url(BroCode/hamburger.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;   
    margin: 20px;
}
h1{

    background:linear-gradient(to right ,rgb(0, 153, 255),silver) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* border-top-style: dotted;
    border-top-color: silver;
    border-bottom-style: dotted;
    border-left-style: dashed;
    border-width: 5px;
    padding:10px; */
}
/*
 p{
    background:linear-gradient(to left ,rgb(255, 0, 0),silver) ;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* border-style: outset;
    border-width: 5px;
    border-color:gold ;
    border-radius:30px ;
    padding: 15px; */
    /*
    color: green;
    font-family: "consolas",sans-serif;
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
    text-decoration: wheat wavy underline;
} 
*/


#box1{
    border: 5px dashed;
    border-color: black;
    width: 700px;
    height: 150px;
    font-size: 22px;
    background-color: blueviolet;
    color: blanchedalmond;
    margin-left:auto ;
    margin-right:auto ;
    padding: 20px;
}
#box2{
    margin-top: 15px;
    border: 5px dashed;
    border-color: rgb(224, 26, 26);
    width: 700px;
    height: 150px;
    font-size: 22px;
    background-color: rgb(98, 43, 226);
    color: blanchedalmond;
}
.box
{
    margin: 15px;
    width: 100px;
    height: 100px;
    border: solid;
    font-size: 40px;
    text-align: center;
    background: tomato;
    float: left;
}
p{
    clear: left;
}


#box1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: aqua;
    position: sticky ;
    top: 0px;
}
#box2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: tomato;
    position: relative;
    top: 100px;
    left: 100px;
}



/*
a:link
{
    color: grey;
}
a:visited
{
    color: rgb(177, 252, 101);
}
a:hover{
color: lime ;
}
a:active{
color: yellow ;
}

button:hover{
    background-color: lightgray;
}
button:active{
    background-color: red;
}
/* 
li:nth-child(1)
{
    background-color: peru;
} 

li:nth-child(odd)
{
    background-color: rgb(185, 254, 231);
}

li:nth-child(even)
{
    background-color: rgb(0, 169, 169);
}


li:nth-child(2n)
{
    background-color: rgb(185, 254, 231);
}

#h1
{
    text-shadow: -3px -3px 3px gold, 3px 3px 0px silver;
    padding: 20px;
}
#h1:hover{
    box-shadow: 5px 5px 5px black , -5px -5px 5px gold;
}

*/
